saves/
newelland/
.mixin.out/
local/
logs/
lightspeed-cache/
coremods/
localconfigs/
modernfix/
schematics/
screenshots/
mods/
resourcepacks/
texturepacks/
shaderpacks/
datapacks/
essential/*.jar
essential/*.jar.meta
essential/*-cache/
essential/libraries/
essential/loader/
essential/lwjgl3-natives/
essential/screenshot-*/
essential/screenshot-checksum-caches.json
ESM/

rhino.local.properties
usercache.json
usernamecache.json

# Server stuff
backups/
crash-reports/
banned-*.json
eula.txt
libraries/
mcss*.json
ops.json
run.bat
server.properties
user_jvm_args.txt
whitelist.json
