.mixin.out/
local/
logs/
lightspeed-cache/
coremods/
localconfigs/
modernfix/
schematics/
screenshots/
mods/
resourcepacks/
texturepacks/
shaderpacks/
datapacks/
essential/*.jar
essential/*.jar.meta
essential/*-cache/
essential/libraries/
essential/loader/
essential/lwjgl3-natives/
essential/screenshot-*/
essential/screenshot-checksum-caches.json
ESM/
config/chunky/tasks/
config/byg/backups/
config/oculus.properties
config/jei/world/

# this gets updated as the player engages
patchouli_data.json

rhino.local.properties
usercache.json
usernamecache.json

# Server stuff
saves/
newelland/
enchanted_dreams/
backups/
crash-reports/
banned-*.json
eula.txt
libraries/
mcss*.json
ops.json
run.bat
run.sh
server.properties
user_jvm_args.txt
whitelist.json
servers.dat
servers.dat_old
servers.essential.dat
hs_err_pid24636.log
config/jade/server*

# mac
.DS_Store
