saves/
.mixin.out/
local/
logs/
lightspeed-cache/
coremods/
localconfigs/
modernfix/
schematics/
screenshots/
mods/
resourcepacks/
texturepacks/
shaderpacks/
datapacks/
rhino.local.properties
usercache.json
usernamecache.json

